a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input:focus, textarea:focus {
  outline: 0;
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  /*opacity: 0;*/
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  /*opacity: 0;*/
}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  /*opacity: 0;*/
}
input:focus::-ms-input-placeholder, textarea:focus::-ms-input-placeholder {
  /*opacity: 0;*/
}
input:focus::placeholder, textarea:focus::placeholder {
  /*opacity: 0;*/
}

select:focus, a:focus, button:focus {
  outline: 0;
}

@font-face {
  src: url("../fonts/SVN-GothamRegular.otf");
  font-family: SVN-Gotham Regular;
}
@font-face {
  src: url("../fonts/ChakraPetch-Regular.ttf");
  font-family: Chakra Petch;
}
@font-face {
  src: url("../fonts/SVN-Gotham Light.otf");
  font-family: SVN-Gotham;
}
@font-face {
  src: url("../fonts/SVN-Gotham Bold.otf");
  font-family: SVN-Gotham Bold;
}
body {
  font-family: SVN-Gotham;
}

/* site35_icon_col12_iconlienhe */
.site35_icon_col12_iconlienhe {
  position: fixed;
  right: 62px;
  bottom: 165px;
  display: -ms-grid;
  display: grid;
  z-index: 100;
}
.site35_icon_col12_iconlienhe a {
  text-align: center;
  display: block;
  margin: 10px 0;
}
.site35_icon_col12_iconlienhe a img {
  max-width: 100%;
}
@media screen and (max-width: 1400px) {
  .site35_icon_col12_iconlienhe {
    right: 12px;
  }
}
.icon-link {
  position: fixed;
  right: 60px;
  outline: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border: 1px solid #fff;
  background: #c5791a;
  border-radius: 50%;
  bottom: 100px;
  z-index: 100;
}
.icon-link img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 1400px) {
  .icon-link {
    right: 10px;
  }
}
@media screen and (max-width: 991px) {
  .icon-link {
    bottom: 10px;
  }
}
.bg_page {
  background: -webkit-gradient(linear, left top, right top, color-stop(-6.46%, #9F9E9F), color-stop(23.13%, #F1F1F1), color-stop(49.36%, #FFFFFF), color-stop(76.71%, #F0F0F0), color-stop(100.72%, #9F9E9F));
  background: linear-gradient(90deg, #9F9E9F -6.46%, #F1F1F1 23.13%, #FFFFFF 49.36%, #F0F0F0 76.71%, #9F9E9F 100.72%);
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.bg_page:before {
  position: absolute;
  content: url(./../img/bgpage.png);
  top: 9%;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1100px) {
  .bg_page:before {
    display: none;
  }
}
/* site36_head_col0_dcentral */
.site36_head_col0_dcentral {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.1);
  padding: 16px 0;
}
.site36_head_col0_dcentral .section_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.site36_head_col0_dcentral .section_header .logo_page {
  margin-right: auto;
}
.site36_head_col0_dcentral .section_header .icon_open_menu {
  display: none;
  width: 20px;
}
.site36_head_col0_dcentral .section_header .icon_open_menu span {
  display: block;
  width: 100%;
  height: 2px;
  background: #5b2a04;
  margin: 5px 0;
}
.site36_head_col0_dcentral .section_header .menu_page > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  font-family: SVN-Gotham;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #061A3A;
}
.site36_head_col0_dcentral .section_header .menu_page > ul > li {
  position: relative;
}
.site36_head_col0_dcentral .section_header .menu_page > ul > li > a {
  padding: 26px 25px;
  color: #061A3A;
  font-family: SVN-Gotham;
}
.site36_head_col0_dcentral .section_header .menu_page > ul > li:hover .submenu {
  display: block;
  z-index: 100;
}
.site36_head_col0_dcentral .section_header .menu_page > ul > li .submenu {
  display: none;
  position: absolute;
  width: 282px;
  top: 47px;
  left: 12px;
  background: #fff;
}
.site36_head_col0_dcentral .section_header .menu_page > ul > li .submenu > ul {
  width: 100%;
}
.site36_head_col0_dcentral .section_header .menu_page > ul > li .submenu > ul > li {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}
.site36_head_col0_dcentral .section_header .menu_page > ul > li .submenu > ul > li a {
  font-family: SVN-Gotham;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #5A5A5A;
  display: block;
  width: 100%;
  padding: 15px;
}
.site36_head_col0_dcentral .section_header .menu_page > ul > li .submenu > ul > li:hover {
  background: #5B2A06;
}
.site36_head_col0_dcentral .section_header .menu_page > ul > li .submenu > ul > li:hover a {
  color: #fff;
}
.site36_head_col0_dcentral .section_header .form_lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.site36_head_col0_dcentral .section_header .form_lang .form_page {
  margin-right: 15px;
  position: relative;
}
.site36_head_col0_dcentral .section_header .form_lang .form_page .open_form img {
  max-width: 100%;
}
.site36_head_col0_dcentral .section_header .form_lang .form_page .open_form img:hover {
  cursor: pointer;
}
.site36_head_col0_dcentral .section_header .form_lang .form_page .form_search {
  display: none;
  background: #5b2a05;
  padding: 5px;
  border-radius: 3px;
  position: absolute;
  width: 300px;
  right: 0;
  top: 47px;
  overflow: hidden;
}
.site36_head_col0_dcentral .section_header .form_lang .form_page .form_search input {
  width: 100%;
  border: none;
  height: 40px;
  padding: 0 15px;
}
.site36_head_col0_dcentral .section_header .form_lang .form_page .form_search input::-webkit-input-placeholder {
  color: #061A3A;
  font-family: SVN-Gotham;
  font-size: 16px;
}
.site36_head_col0_dcentral .section_header .form_lang .form_page .form_search input::-moz-placeholder {
  color: #061A3A;
  font-family: SVN-Gotham;
  font-size: 16px;
}
.site36_head_col0_dcentral .section_header .form_lang .form_page .form_search input:-ms-input-placeholder {
  color: #061A3A;
  font-family: SVN-Gotham;
  font-size: 16px;
}
.site36_head_col0_dcentral .section_header .form_lang .form_page .form_search input::-ms-input-placeholder {
  color: #061A3A;
  font-family: SVN-Gotham;
  font-size: 16px;
}
.site36_head_col0_dcentral .section_header .form_lang .form_page .form_search input::placeholder {
  color: #061A3A;
  font-family: SVN-Gotham;
  font-size: 16px;
}
.site36_head_col0_dcentral .section_header .form_lang .form_page .form_search .btn_search {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border: none;
  background: #ff903b;
  height: 55px;
  width: 55px;
}
.site36_head_col0_dcentral .section_header .form_lang .form_page .form_search .btn_search img {
  -webkit-filter: invert(1);
          filter: invert(1);
}
.site36_head_col0_dcentral .section_header .form_lang .form_page .form_search.active {
  display: block;
}
.site36_head_col0_dcentral .section_header .form_lang .language_page a.active {
  font-family: SVN-Gotham;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #C5791A;
}
.site36_head_col0_dcentral .section_header .form_lang .language_page a {
  font-family: SVN-Gotham;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #BDBDBD;
  padding: 0 7px;
  text-transform: uppercase;
  position: relative;
}
.site36_head_col0_dcentral .section_header .form_lang .language_page a:last-child:before {
  display: none;
}
.site36_head_col0_dcentral .section_header .form_lang .language_page a:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 60%;
  background: #061A3A;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.site36_head_col0_dcentral .section_header.active .icon_open_menu span {
  margin: 0;
}
.site36_head_col0_dcentral .section_header.active .icon_open_menu span:nth-child(1) {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.site36_head_col0_dcentral .section_header.active .icon_open_menu span:nth-child(2) {
  display: none;
}
.site36_head_col0_dcentral .section_header.active .icon_open_menu span:nth-child(3) {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  margin-top: -1px;
}

.site36_head_col0_dcentral.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.site36_head_col0_dcentral .section_header .form_lang .form_page .form_search.active {
  display: block;
  z-index: 1;
}

@media screen and (max-width: 1400px) {
  .site36_head_col0_dcentral .section_header .menu_page > ul {
    font-size: 16px;
  }

  .site37_bann_col0_slide .slider_homepage .item_slide .content .btn_slide {
    font-size: 16px !important;
    height: 45px !important;
  }
}
@media screen and (max-width: 1100px) {
  .site36_head_col0_dcentral .section_header .menu_page {
    width: 100%;
    position: fixed;
    top: 96px;
    left: 0;
    background: #fff;
    padding: 15px 0;
    z-index: 1;
  }

  .site36_head_col0_dcentral .section_header .menu_page > ul {
    width: 100%;
  }

  .site36_head_col0_dcentral .section_header .menu_page > ul > li {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #2c3776;
  }

  .site36_head_col0_dcentral .section_header .menu_page > ul > li > a {
    padding: 0 15px;
    display: block;
    width: 80%;
  }

  .site36_head_col0_dcentral .section_header .menu_page > ul > li .submenu {
    position: initial;
    width: 100%;
    top: inherit;
    background: #2c3776;
    margin-top: 10px;
  }

  .site36_head_col0_dcentral .section_header .menu_page > ul > li .submenu > ul > li a {
    padding: 15px 30px;
    color: #fff;
    font-family: SVN-Gotham;
    font-weight: normal;
  }

  .site36_head_col0_dcentral .section_header .icon_open_menu {
    display: block;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: 30px;
  }

  .site36_head_col0_dcentral .section_header .menu_page {
    display: none;
  }

  .site36_head_col0_dcentral.active_bg {
    height: 100vh;
    background: #fff;
  }

  .site36_head_col0_dcentral .section_header.active .menu_page {
    display: block !important;
  }
}
@media screen and (max-width: 576px) {
  .site36_head_col0_dcentral .section_header {
    padding: 0 15px;
  }

  .site36_head_col0_dcentral .section_header .menu_page {
    width: 100%;
    margin-top: 0px;
    padding: 10px 15px;
    display: none;
    top: 16%;
  }

  .site36_head_col0_dcentral .section_header .menu_page > ul, .site36_head_col0_dcentral .section_header .menu_page > ul > li {
    width: 100%;
  }

  .site36_head_col0_dcentral .section_header .menu_page > ul > li > a {
    padding: 10px 15px 10px 0;
    display: block;
    width: 50%;
  }

  .site36_head_col0_dcentral .section_header .menu_page > ul > li {
    padding: 10px 0;
    border-bottom: 1px solid #5b2a04;
  }

  .site36_head_col0_dcentral .section_header .menu_page > ul > li .submenu {
    position: inherit;
    width: inherit;
    top: inherit;
    background: #02aef1;
    width: 100%;
  }

  .site36_head_col0_dcentral .section_header .menu_page > ul > li .submenu > ul > li a {
    color: #fff;
  }

  .site36_head_col0_dcentral .section_header .icon_open_menu {
    display: block;
  }

  .section_header.active {
    height: 100vh;
    display: inline-block;
    width: 100%;
    background: #fff;
    position: relative;
  }

  .section_header.active .icon_open_menu {
    position: absolute;
    right: 15px;
    top: 10px;
  }

  .site36_head_col0_dcentral .section_header .form_lang {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    display: none;
  }

  .section_header.active .menu_page {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .section_header.active .form_lang {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .site36_head_col0_dcentral .section_header .form_lang .form_page, .site36_head_col0_dcentral .section_header .form_lang .language_page {
    padding: 15px 0;
    margin-right: 0;
  }

  .site36_head_col0_dcentral .section_header .form_lang .language_page a:first-child {
    padding: 0 7px 0 0;
  }

  .site36_head_col0_dcentral .section_header .form_lang .form_page .form_search {
    position: inherit;
    width: 100%;
    right: inherit;
    top: inherit;
  }

  .site36_head_col0_dcentral.active {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 10;
  }
}
/* site37_bann_col0_slide */
.site37_bann_col0_slide .slider_homepage {
  overflow: hidden;
  width: 100%;
}
.site37_bann_col0_slide .slider_homepage .item_slide {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.site37_bann_col0_slide .slider_homepage .item_slide > img {
  width: 100%;
  height: auto;
  -webkit-animation: ripple1 20s alternate infinite ease-in;
          animation: ripple1 20s alternate infinite ease-in;
}
.site37_bann_col0_slide .slider_homepage .item_slide .content {
  position: absolute;
  top: 78%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 60%;
  /*p {
  	font-family: SVN-Gotham;
  	font-style: normal;
  	font-weight: normal;
  	font-size: 16px;
  	line-height: 24px;
  	color: #5b2a05;
  	margin: 60px 0 30px 0;
  }*/
}
.site37_bann_col0_slide .slider_homepage .item_slide .content .btn_slide {
  color: #fff;
  background: #5b2a05;
  border: none;
  height: 55px;
  width: 170px;
  font-size: 18px;
  font-weight: normal;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.site37_bann_col0_slide .slider_homepage .item_slide .content .btn_slide:hover {
  background: #fff;
  border: 1px solid #5b2a05;
  color: #5b2a05;
}
.site37_bann_col0_slide .slider_homepage .slick-dots {
  bottom: 10px;
}
.site37_bann_col0_slide .slider_homepage .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 5px;
  height: 5px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: #95959575;
}
.site37_bann_col0_slide .slider_homepage .slick-dots li button:before {
  display: none;
}
.site37_bann_col0_slide .slider_homepage .slick-dots li.slick-active button {
  background: #5b2a05;
}
.site37_bann_col0_slide .slider_homepage .slick-dots li.slick-active button:before {
  display: none;
}

@-webkit-keyframes ripple1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
}

@keyframes ripple1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
}
@media screen and (max-width: 1100px) {
  .site37_bann_col0_slide .slider_homepage .item_slide .content {
    width: 70%;
  }
}
@media screen and (max-width: 576px) {
  .site37_bann_col0_slide .slider_homepage .item_slide .content {
    width: 100%;
    padding: 0 15px;
    display: none;
  }

  .site37_bann_col0_slide .slider_homepage .item_slide .content p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 10px 0;
  }

  .site37_bann_col0_slide .slider_homepage .slick-dots {
    bottom: -5px;
  }

  .site37_bann_col0_slide .slider_homepage .item_slide .content .btn_slide {
    height: auto !important;
    padding: 5px 0 10px 0;
  }

  .site37_bann_col0_slide .slider_homepage .slick-dots {
    display: none !important;
  }
}
/*  site37_html_col12_bachlinhco */
.site37_html_col12_bachlinhco {
  background-image: url(../img/bg1.png);
  background-size: cover;
  padding: 60px 0 100px 0;
}
.site37_html_col12_bachlinhco .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site37_html_col12_bachlinhco .row .bando_element {
  width: 50%;
  overflow: hidden;
}
.site37_html_col12_bachlinhco .row .bando_element img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.site37_html_col12_bachlinhco .row .content_element {
  width: 50%;
  overflow: hidden;
}
.site37_html_col12_bachlinhco .row .content_element .title_basic {
  width: 100%;
}
.site37_html_col12_bachlinhco .row .content_element .title_basic h2 {
  font-family: SVN-Gotham Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #061A3A;
}
.site37_html_col12_bachlinhco .row .content_element .title_basic h2 span {
  position: relative;
}
.site37_html_col12_bachlinhco .row .content_element .title_basic h2 span:before {
  position: absolute;
  content: "";
  width: 101px;
  height: 17px;
  background: rgba(197, 121, 26, 0.5);
  bottom: -3px;
  left: 0;
  z-index: -1;
}
.site37_html_col12_bachlinhco .row .content_element .title_basic p {
  font-family: SVN-Gotham;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #4F4F4F;
  margin-top: 30px;
}
.site37_html_col12_bachlinhco .row .content_element .icon_box .countdown_about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.site37_html_col12_bachlinhco .row .content_element .icon_box .countdown_about .col_counter {
  width: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
}
.site37_html_col12_bachlinhco .row .content_element .icon_box .countdown_about .col_counter:hover {
  cursor: pointer;
}
.site37_html_col12_bachlinhco .row .content_element .icon_box .countdown_about .col_counter:hover .img .img_hover {
  opacity: 1;
}
.site37_html_col12_bachlinhco .row .content_element .icon_box .countdown_about .col_counter:last-child {
  width: 100%;
}
.site37_html_col12_bachlinhco .row .content_element .icon_box .countdown_about .col_counter .img {
  width: 78px;
  height: 78px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.site37_html_col12_bachlinhco .row .content_element .icon_box .countdown_about .col_counter .img img {
  width: 100%;
}
.site37_html_col12_bachlinhco .row .content_element .icon_box .countdown_about .col_counter .img .img_hover {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.site37_html_col12_bachlinhco .row .content_element .icon_box .countdown_about .col_counter .content {
  width: calc(100% - 78px);
  padding-left: 25px;
}
.site37_html_col12_bachlinhco .row .content_element .icon_box .countdown_about .col_counter .content .counter-title {
  font-family: SVN-Gotham;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #828282;
}
.site37_html_col12_bachlinhco .row .content_element .icon_box .countdown_about .col_counter .content .counter-number {
  font-family: "Pattaya", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #C5791A;
}

@media screen and (max-width: 1400px) {
  .site37_html_col12_bachlinhco .row .content_element .title_basic h2 {
    font-size: 30px;
  }

  .site37_html_col12_bachlinhco .row .content_element .title_basic h2 span:before {
    bottom: 2px;
  }

  .site37_html_col12_bachlinhco .row .content_element .icon_box .countdown_about .col_counter {
    margin-top: 30px;
  }

  .site37_html_col12_bachlinhco {
    padding: 30px 0 50px 0;
  }
}
@media screen and (max-width: 991px) {
  .site37_html_col12_bachlinhco .row .bando_element {
    width: 100%;
  }

  .site37_html_col12_bachlinhco .row .content_element {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .site37_html_col12_bachlinhco {
    padding: 15px;
  }

  .site37_html_col12_bachlinhco .row .content_element .icon_box .countdown_about .col_counter {
    width: 100%;
  }

  .site37_html_col12_bachlinhco .row .content_element .icon_box .countdown_about .col_counter {
    margin-top: 10px;
  }
}
/* site37_intr_col12_bachlinh */
.site37_intr_col12_bachlinh {
  padding: 110px 0 200px 0;
  background-image: url(../img/bg2.png);
  background-size: cover;
  overflow: hidden;
}
.site37_intr_col12_bachlinh .img_about {
  width: 50%;
  padding-right: 60px;
  float: left;
  position: relative;
}
.site37_intr_col12_bachlinh .img_about span {
  display: block;
}
.site37_intr_col12_bachlinh .img_about span:hover {
  cursor: pointer;
}
.site37_intr_col12_bachlinh .img_about span:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.site37_intr_col12_bachlinh .img_about span:nth-child(1) {
  width: 80%;
  overflow: hidden;
}
.site37_intr_col12_bachlinh .img_about span:nth-child(1) img {
  width: 100%;
  height: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.site37_intr_col12_bachlinh .img_about span:nth-child(2) {
  width: 40%;
  overflow: hidden;
  position: absolute;
  bottom: -100px;
  right: 0;
  float: right;
  z-index: 1;
  border: 8px solid #fff;
}
.site37_intr_col12_bachlinh .img_about span:nth-child(2) img {
  width: 100%;
  height: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.site37_intr_col12_bachlinh .content_about {
  width: 50%;
  float: left;
  overflow: hidden;
  padding-left: 70px;
}
.site37_intr_col12_bachlinh .content_about .title_basic {
  width: 100%;
}
.site37_intr_col12_bachlinh .content_about .title_basic h2 {
  font-family: SVN-Gotham Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #061A3A;
}
.site37_intr_col12_bachlinh .content_about .title_basic h2 span {
  position: relative;
}
.site37_intr_col12_bachlinh .content_about .title_basic h2 span:before {
  position: absolute;
  content: "";
  width: 101px;
  height: 17px;
  background: rgba(197, 121, 26, 0.5);
  bottom: -3px;
  left: 0;
  z-index: -1;
}
.site37_intr_col12_bachlinh .content_about p {
  font-family: SVN-Gotham;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #4F4F4F;
  margin-top: 20px;
}
.site37_intr_col12_bachlinh .content_about .btn_xemthem {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  width: 170px;
  height: 45px;
  background: -webkit-gradient(linear, left top, right top, from(#C5791A), color-stop(58.06%, #E7B474), to(#FFDEB5));
  background: linear-gradient(90deg, #C5791A 0%, #E7B474 58.06%, #FFDEB5 100%);
  border-radius: 5px;
  border: none;
  margin-top: 45px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.site37_intr_col12_bachlinh .content_about .btn_xemthem:hover img {
  margin-left: 25px;
}
.site37_intr_col12_bachlinh .content_about .btn_xemthem img {
  max-width: 100%;
  margin-left: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1400px) {
  /*.site37_intr_col12_bachlinh {
      padding: 55px 0 150px 0;
  }*/
  .site37_intr_col12_bachlinh .content_about .title_basic h2 {
    font-size: 30px;
  }

  .site37_intr_col12_bachlinh .content_about .title_basic h2 span:before {
    bottom: 2px;
  }
}
@media screen and (max-width: 991px) {
  .site37_intr_col12_bachlinh .img_about, .site37_intr_col12_bachlinh .content_about {
    width: 100%;
  }

  .site37_intr_col12_bachlinh .content_about {
    margin-top: 50px;
    padding: 0;
  }

  .site37_intr_col12_bachlinh {
    padding: 60px 0;
  }
}
@media screen and (max-width: 576px) {
  .site37_intr_col12_bachlinh {
    padding: 15px 15px 40px 15px;
  }

  .site37_intr_col12_bachlinh .content_about .btn_xemthem {
    margin-top: 15px;
  }
}
/* site37_html_col0_ourranges */
.site37_html_col0_ourranges {
  position: relative;
  text-align: center;
  padding: 95px 0 125px 0;
}
.site37_html_col0_ourranges:before {
  width: 100%;
  height: 100%;
  content: "";
  background: url(./../img/bg3.png);
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.site37_html_col0_ourranges .title_white {
  margin-bottom: 80px;
}
.site37_html_col0_ourranges .title_white h2 {
  font-family: SVN-Gotham Bold;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #FFFFFF;
}
.site37_html_col0_ourranges .title_white h2 span {
  position: relative;
}
.site37_html_col0_ourranges .title_white h2 span:after {
  position: absolute;
  content: "";
  width: 101px;
  height: 17px;
  background: rgba(229, 176, 111, 0.5);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: -3px;
  left: 50%;
  z-index: -1;
}
.site37_html_col0_ourranges .category_element {
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  background-image: url(./../img/bg4.png);
  background-size: cover;
}
.site37_html_col0_ourranges .category_element .box_slider_for {
  width: 50%;
  float: left;
}
.site37_html_col0_ourranges .category_element .box_slider_for > h2 {
  font-family: SVN-Gotham;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #4F4F4F;
  width: 80%;
  margin: auto;
  margin-bottom: 25px;
}
.site37_html_col0_ourranges .category_element .box_slider_for .slider_for {
  width: 100%;
}
.site37_html_col0_ourranges .category_element .box_slider_for .slider_for .slick-prev:before, .site37_html_col0_ourranges .category_element .box_slider_for .slider_for .slick-next:before {
  display: none;
}
.site37_html_col0_ourranges .category_element .box_slider_for .slider_for .slick-next {
  right: 25px;
}
.site37_html_col0_ourranges .category_element .box_slider_for .slider_for .slick-prev, .site37_html_col0_ourranges .category_element .box_slider_for .slider_for .slick-next {
  top: 35%;
}
.site37_html_col0_ourranges .category_element .box_slider_for .slider_for .slick-prev {
  left: 0;
}
.site37_html_col0_ourranges .category_element .box_slider_for .slider_for .item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site37_html_col0_ourranges .category_element .box_slider_for .slider_for .item .img {
  width: 270px;
  height: 270px;
  background: #5B2A06;
  border: 6px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  position: relative;
  margin: auto;
}
.site37_html_col0_ourranges .category_element .box_slider_for .slider_for .item .img:before {
  position: absolute;
  content: url(./../img/s7.png);
  left: -30%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: -1;
  opacity: 0.5;
}
.site37_html_col0_ourranges .category_element .box_slider_for .slider_for .item .img:after {
  position: absolute;
  content: url(./../img/s6.png);
  right: -30%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: -1;
  opacity: 0.5;
}
.site37_html_col0_ourranges .category_element .box_slider_for .slider_for .item .img img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.site37_html_col0_ourranges .category_element .box_slider_for .slider_for .item .category p {
  font-family: SVN-Gotham Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  color: #C5791A;
  text-align: center;
  margin: 25px 0;
}
.site37_html_col0_ourranges .category_element .box_slider_for .slider_for .item .btn_xemthem {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  width: 170px;
  height: 45px;
  background: -webkit-gradient(linear, left top, right top, from(#C5791A), color-stop(58.06%, #E7B474), to(#FFDEB5));
  background: linear-gradient(90deg, #C5791A 0%, #E7B474 58.06%, #FFDEB5 100%);
  border-radius: 5px;
  border: none;
  margin-top: 45px;
  margin: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site37_html_col0_ourranges .category_element .box_slider_for .slider_for .item .btn_xemthem:hover img {
  margin-left: 25px;
}
.site37_html_col0_ourranges .category_element .box_slider_for .slider_for .item .btn_xemthem img {
  max-width: 100%;
  margin-left: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.site37_html_col0_ourranges .category_element .box_slider_nav {
  width: 50%;
  float: left;
}
.site37_html_col0_ourranges .category_element .box_slider_nav .item {
  width: 100%;
}
.site37_html_col0_ourranges .category_element .box_slider_nav .item .img {
  display: block;
  width: 50%;
  float: left;
  padding: 2px;
  overflow: hidden;
}
.site37_html_col0_ourranges .category_element .box_slider_nav .item .img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.site37_html_col0_ourranges .category_element .box_slider_nav .item .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1400px) {
  .site37_html_col0_ourranges .title_white h2 {
    font-size: 30px;
  }

  .site37_html_col0_ourranges .title_white h2 span:before {
    bottom: 2px;
  }
}
@media screen and (max-width: 991px) {
  .site37_html_col0_ourranges .category_element .box_slider_for, .site37_html_col0_ourranges .category_element .box_slider_nav {
    width: 100%;
  }

  .site37_html_col0_ourranges .category_element .box_slider_nav {
    margin-top: 30px;
  }
}
@media screen and (max-width: 576px) {
  .site37_html_col0_ourranges {
    padding: 15px;
  }

  .site37_html_col0_ourranges .category_element {
    margin-top: 30px;
  }

  .site37_html_col0_ourranges .category_element .box_slider_for > h2 {
    width: 100%;
  }
}
/* site37_html_col0_ourprivatelable */
.site37_html_col0_ourprivatelable {
  position: relative;
  padding: 95px 0 145px 0;
}
.site37_html_col0_ourprivatelable:before {
  width: 100%;
  height: 100%;
  content: "";
  background: url(./../img/bg5.png);
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.site37_html_col0_ourprivatelable .title_white h2 {
  font-family: SVN-Gotham Bold;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #FFFFFF;
}
.site37_html_col0_ourprivatelable .title_white h2 span {
  position: relative;
}
.site37_html_col0_ourprivatelable .title_white h2 span:after {
  position: absolute;
  content: "";
  width: 101px;
  height: 17px;
  background: rgba(229, 176, 111, 0.5);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: -3px;
  left: 50%;
  z-index: -1;
}
.site37_html_col0_ourprivatelable .slider_element {
  width: 100%;
  margin: 70px 0 0 0;
  background: #fff;
  padding: 35px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site37_html_col0_ourprivatelable .slider_element .slider_for_our {
  width: 50%;
  float: left;
  overflow: hidden;
}
.site37_html_col0_ourprivatelable .slider_element .slider_for_our .img {
  display: block;
  width: 100%;
  height: 577px;
  overflow: hidden;
}
.site37_html_col0_ourprivatelable .slider_element .slider_for_our .img:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.site37_html_col0_ourprivatelable .slider_element .slider_for_our .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.site37_html_col0_ourprivatelable .slider_element .slider_for_our .slick-prev {
  left: 82%;
  z-index: 1;
  top: 92.4%;
}
.site37_html_col0_ourprivatelable .slider_element .slider_for_our .slick-prev:before {
  display: none;
}
.site37_html_col0_ourprivatelable .slider_element .slider_for_our .slick-next {
  right: 31px;
  z-index: 1;
  top: 92.4%;
}
.site37_html_col0_ourprivatelable .slider_element .slider_for_our .slick-next:before {
  display: none;
}
.site37_html_col0_ourprivatelable .slider_element .slider_nav_our {
  width: 50%;
  padding-left: 56px;
  float: left;
}
.site37_html_col0_ourprivatelable .slider_element .slider_nav_our .item h2 {
  font-family: SVN-Gotham Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  color: #061A3A;
}
.site37_html_col0_ourprivatelable .slider_element .slider_nav_our .item p {
  font-family: SVN-Gotham;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #4F4F4F;
  margin-top: 30px;
}
.site37_html_col0_ourprivatelable .slider_element .slider_nav_our .item .btn_xemthem {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  width: 170px;
  height: 45px;
  background: -webkit-gradient(linear, left top, right top, from(#C5791A), color-stop(58.06%, #E7B474), to(#FFDEB5));
  background: linear-gradient(90deg, #C5791A 0%, #E7B474 58.06%, #FFDEB5 100%);
  border-radius: 5px;
  border: none;
  margin-top: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site37_html_col0_ourprivatelable .slider_element .slider_nav_our .item .btn_xemthem:hover img {
  margin-left: 25px;
}
.site37_html_col0_ourprivatelable .slider_element .slider_nav_our .item .btn_xemthem img {
  max-width: 100%;
  margin-left: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1400px) {
  .site37_html_col0_ourprivatelable .title_white h2 {
    font-size: 30px;
  }

  .site37_html_col0_ourprivatelable .title_white h2 span:after {
    bottom: 2px;
  }
}
@media screen and (max-width: 1100px) {
  .site37_html_col0_ourprivatelable .slider_element .slider_for_our .slick-prev {
    left: 78%;
  }
}
@media screen and (max-width: 576px) {
  .site37_html_col0_ourprivatelable {
    padding: 15px;
  }

  .site37_html_col0_ourprivatelable .slider_element {
    margin: 15px 0 0 0;
    padding: 10px;
  }

  .site37_html_col0_ourprivatelable .slider_element .slider_for_our, .site37_html_col0_ourprivatelable .slider_element .slider_nav_our {
    width: 100%;
    padding: 0;
  }

  .site37_html_col0_ourprivatelable .slider_element .slider_for_our .img {
    height: 350px;
  }

  .site37_html_col0_ourprivatelable .slider_element .slider_nav_our .item p {
    margin-top: 10px;
  }

  .site37_html_col0_ourprivatelable .slider_element .slider_for_our .slick-prev {
    left: 69%;
    top: 87.4%;
  }

  .site37_html_col0_ourprivatelable .slider_element .slider_for_our .slick-next {
    top: 87.4%;
  }
}
/* site37_html_col0_shopnow */
.site37_html_col0_shopnow {
  padding: 89px 0 75px 0;
  position: relative;
}
.site37_html_col0_shopnow:before {
  width: 100%;
  height: 100%;
  content: "";
  background: url(./../img/bg9.png);
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.site37_html_col0_shopnow .shopnow_element {
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding: 90px 0;
  position: relative;
}
.site37_html_col0_shopnow .shopnow_element:hover:after {
  opacity: 0;
}
.site37_html_col0_shopnow .shopnow_element:before {
  width: 100%;
  height: 100%;
  content: "";
  background: url(./../img/bg6.png);
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.site37_html_col0_shopnow .shopnow_element:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(91, 42, 6, 0.4);
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.site37_html_col0_shopnow .shopnow_element h2 {
  font-family: SVN-Gotham Bold;
  font-style: normal;
  font-weight: 450;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.site37_html_col0_shopnow .shopnow_element .btn_xemthem {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  width: 170px;
  height: 45px;
  background: -webkit-gradient(linear, left top, right top, from(#C5791A), color-stop(58.06%, #E7B474), to(#FFDEB5));
  background: linear-gradient(90deg, #C5791A 0%, #E7B474 58.06%, #FFDEB5 100%);
  border: 2px solid #FFFFFF;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.55);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.55);
  border-radius: 5px;
  margin-top: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}
.site37_html_col0_shopnow .shopnow_element .btn_xemthem:hover img {
  margin-left: 25px;
}
.site37_html_col0_shopnow .shopnow_element .btn_xemthem img {
  max-width: 100%;
  margin-left: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 576px) {
  .site37_html_col0_shopnow {
    padding: 30px 15px;
  }

  .site37_html_col0_shopnow .shopnow_element h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
/* site37_foot_col0_bachlinh */
.site37_foot_col0_bachlinh {
  position: relative;
  background: #5B2A06;
  z-index: 2;
  padding-top: 45px;
  background-image: url(./../img/bg7.png);
  background-size: cover;
  background-position: bottom;
}
.site37_foot_col0_bachlinh:after {
  position: absolute;
  content: url(./../img/bg8.png);
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.site37_foot_col0_bachlinh .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.site37_foot_col0_bachlinh .row .footer_item {
  /*width: 33.333%;*/
  overflow: hidden;
}
.site37_foot_col0_bachlinh .row .footer_item:nth-child(1) {
  width: 40%;
  padding-right: 50px;
}
.site37_foot_col0_bachlinh .row .footer_item:nth-child(2) {
  width: 27%;
  padding-right: 56px;
  padding-left: 70px;
}
.site37_foot_col0_bachlinh .row .footer_item:nth-child(3) {
  width: 33%;
}
.site37_foot_col0_bachlinh .row .footer_item .logo_footer {
  width: 100%;
  display: block;
  margin-bottom: 15px;
}
.site37_foot_col0_bachlinh .row .footer_item .logo_footer img {
  max-width: 100%;
}
.site37_foot_col0_bachlinh .row .footer_item .info_ft > p {
  font-family: SVN-Gotham;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150.36%;
  color: #FFFFFF;
}
.site37_foot_col0_bachlinh .row .footer_item .info_ft .item {
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #ffffff8c;
  display: inline-block;
}
.site37_foot_col0_bachlinh .row .footer_item .info_ft .item:last-child {
  border-bottom: none;
}
.site37_foot_col0_bachlinh .row .footer_item .info_ft .item p {
  font-family: SVN-Gotham;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170.5%;
  color: #F2F2F2;
  margin-bottom: 12px;
}
.site37_foot_col0_bachlinh .row .footer_item .info_ft .item p strong {
  font-family: SVN-Gotham;
}
.site37_foot_col0_bachlinh .row .footer_item .info_ft .item p span {
  display: block;
  width: 50%;
  float: left;
}
.site37_foot_col0_bachlinh .row .footer_item .info_ft .item p span img {
  max-width: 100%;
}
.site37_foot_col0_bachlinh .row .footer_item .info_ft .item p span label {
  font-style: normal;
  font-weight: normal;
}
.site37_foot_col0_bachlinh .row .footer_item h2 {
  font-family: SVN-Gotham Bold;
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.site37_foot_col0_bachlinh .row .footer_item ul li {
  margin-bottom: 10px;
}
.site37_foot_col0_bachlinh .row .footer_item ul li a {
  font-family: SVN-Gotham;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170.5%;
  color: #F2F2F2;
  position: relative;
  padding-left: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.site37_foot_col0_bachlinh .row .footer_item ul li a:hover {
  color: #C5791A;
}
.site37_foot_col0_bachlinh .row .footer_item ul li a:hover:before {
  background: #C5791A;
}
.site37_foot_col0_bachlinh .row .footer_item ul li a:before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.site37_foot_col0_bachlinh .row .footer_item .icon_ft {
  margin-top: 45px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.site37_foot_col0_bachlinh .row .footer_item .icon_ft a {
  display: block;
  margin-right: 25px;
  margin-bottom: 20px;
  width: auto;
  float: left;
}
.site37_foot_col0_bachlinh .row .footer_item .icon_ft a img {
  max-width: 100%;
}
.site37_foot_col0_bachlinh .row .footer_item .img_ft {
  margin-top: 35px;
}
.site37_foot_col0_bachlinh .row .footer_item .img_ft img {
  max-width: 100%;
}
.site37_foot_col0_bachlinh .row .footer_item .map {
  height: 285px;
  overflow: hidden;
}
.site37_foot_col0_bachlinh .row .footer_item .map iframe {
  width: 100%;
}
.site37_foot_col0_bachlinh .copyrighter {
  width: 100%;
  background: #C5791A;
}
.site37_foot_col0_bachlinh .copyrighter p {
  font-family: SVN-Gotham;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #D9D9D9;
  padding: 12px 0;
}

@media screen and (max-width: 1100px) {
  .site37_foot_col0_bachlinh .row .footer_item:nth-child(1) {
    padding-right: 25px;
    width: 44%;
  }

  .site37_foot_col0_bachlinh .row .footer_item:nth-child(2) {
    width: 23%;
    padding-right: 25px;
    padding-left: 25px;
  }
}
@media screen and (max-width: 991px) {
  .site37_foot_col0_bachlinh {
    padding: 15px 15px 0 15px;
  }

  .site37_foot_col0_bachlinh .row .footer_item {
    width: 100% !important;
    padding: 0;
  }

  .site37_foot_col0_bachlinh .row .footer_item:nth-child(2) {
    padding: 0;
  }

  .site37_foot_col0_bachlinh .row .footer_item .icon_ft {
    margin-top: 10px;
  }

  .site37_foot_col0_bachlinh .row .footer_item .img_ft {
    margin-top: 0;
  }

  .site37_foot_col0_bachlinh .row .footer_item:nth-child(3) {
    margin-bottom: 30px;
  }
}
/* site37_html_col0_oursupplier */
.site37_html_col0_oursupplier {
  background-image: url(./../img/bg10.png);
  background-size: cover;
  padding: 105px 0 115px 0;
}
.site37_html_col0_oursupplier .title_white {
  margin-bottom: 88px;
}
.site37_html_col0_oursupplier .title_white h2 {
  font-family: SVN-Gotham Bold;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #061A3A;
}
.site37_html_col0_oursupplier .title_white h2 span {
  position: relative;
}
.site37_html_col0_oursupplier .title_white h2 span:after {
  position: absolute;
  content: "";
  width: 101px;
  height: 17px;
  background: rgba(229, 176, 111, 0.5);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: -3px;
  left: 50%;
  z-index: -1;
}
.site37_html_col0_oursupplier .oursupplier_element {
  background: #FFFFFF;
  border: 1px solid #C5791A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 6px 19px rgba(16, 16, 16, 0.15);
          box-shadow: 4px 6px 19px rgba(16, 16, 16, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 18px 14px;
}
.site37_html_col0_oursupplier .oursupplier_element .map_box {
  width: 60%;
  overflow: hidden;
  /*padding: 65px 6px 66px 6px;*/
  position: relative;
}
.site37_html_col0_oursupplier .oursupplier_element .map_box .nav_tabs {
  border-bottom: none;
}
.site37_html_col0_oursupplier .oursupplier_element .map_box .nav_tabs li {
  /*opacity: 0;*/
  z-index: -1;
}
.site37_html_col0_oursupplier .oursupplier_element .map_box .nav_tabs li a {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.site37_html_col0_oursupplier .oursupplier_element .map_box .nav_tabs li:nth-child(1) {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: red;
  position: absolute;
  top: 38%;
  right: 48%;
  /*opacity: 0;*/
}
.site37_html_col0_oursupplier .oursupplier_element .map_box .nav_tabs li:nth-child(2) {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: red;
  position: absolute;
  top: 53%;
  right: 28%;
  /*opacity: 0;*/
}
.site37_html_col0_oursupplier .oursupplier_element .map_box .nav_tabs li:nth-child(3) {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: red;
  position: absolute;
  top: 61%;
  right: 26%;
  /*opacity: 0;*/
}
.site37_html_col0_oursupplier .oursupplier_element .map_box .nav_tabs li:nth-child(4) {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: red;
  position: absolute;
  top: 55%;
  right: 17%;
  /*opacity: 0;*/
}
.site37_html_col0_oursupplier .oursupplier_element .thuonghieu_box {
  width: 40%;
  overflow: hidden;
  background: #5B2A06;
  background-image: url(./../img/bg11.png);
  background-size: cover;
  padding-top: 45px;
  padding-bottom: 45px;
}
.site37_html_col0_oursupplier .oursupplier_element .thuonghieu_box .box_item {
  width: 100%;
  display: none;
}
.site37_html_col0_oursupplier .oursupplier_element .thuonghieu_box .box_item h2 {
  font-family: SVN-Gotham;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
  padding: 0 35px;
  text-transform: uppercase;
}
.site37_html_col0_oursupplier .oursupplier_element .thuonghieu_box .box_item.active {
  display: block;
}
.site37_html_col0_oursupplier .oursupplier_element .thuonghieu_box p {
  font-family: SVN-Gotham;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
  padding: 0 35px;
}
.site37_html_col0_oursupplier .oursupplier_element .thuonghieu_box .thuong_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.site37_html_col0_oursupplier .oursupplier_element .thuonghieu_box .thuong_item .img {
  width: 99px;
  height: 99px;
  overflow: hidden;
  position: relative;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 1px;
}
.site37_html_col0_oursupplier .oursupplier_element .thuonghieu_box .thuong_item .img:hover {
  background: #FDDBB0;
}
.site37_html_col0_oursupplier .oursupplier_element .thuonghieu_box .thuong_item .img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65px;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.site37_html_col0_oursupplier .oursupplier_element .thuonghieu_box .thuong_item .div_btn_xemthem {
  width: 100%;
  text-align: center;
}
.site37_html_col0_oursupplier .oursupplier_element .thuonghieu_box .thuong_item .div_btn_xemthem .btn_xemthem {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  width: 170px;
  height: 45px;
  background: -webkit-gradient(linear, left top, right top, from(#C5791A), color-stop(58.06%, #E7B474), to(#FFDEB5));
  background: linear-gradient(90deg, #C5791A 0%, #E7B474 58.06%, #FFDEB5 100%);
  border-radius: 5px;
  border: none;
  margin-top: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.site37_html_col0_oursupplier .oursupplier_element .thuonghieu_box .thuong_item .div_btn_xemthem .btn_xemthem:hover img {
  margin-left: 25px;
}
.site37_html_col0_oursupplier .oursupplier_element .thuonghieu_box .thuong_item .div_btn_xemthem .btn_xemthem img {
  max-width: 100%;
  margin-left: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

path.eu {
  fill: #36a4df !important;
}

path.eu:hover {
  cursor: pointer;
}

path.cn {
  fill: #f0791e !important;
}

path.cn:hover {
  cursor: pointer;
}

path.tw {
  fill: #ed4082 !important;
}

path.tw:hover {
  cursor: pointer;
}

path.jp {
  fill: #2ce232 !important;
}

path.jp:hover {
  cursor: pointer;
}

.eu.active {
  fill: #ffa600 !important;
}

.cn.active {
  fill: #ffa600 !important;
}

.tw.active {
  fill: #ffa600 !important;
}

.jp.active {
  fill: #ffa600 !important;
}

@media screen and (max-width: 1400px) {
  .site37_html_col0_oursupplier .title_white h2 {
    font-size: 30px;
  }

  .site37_html_col0_oursupplier .title_white h2 span:after {
    bottom: 2px;
  }
}
@media screen and (max-width: 1100px) {
  .site37_html_col0_oursupplier .oursupplier_element .map_box, .site37_html_col0_oursupplier .oursupplier_element .thuonghieu_box {
    width: 100%;
  }

  .site37_html_col0_oursupplier .oursupplier_element .map_box .map_img {
    margin: auto;
  }

  .site37_html_col0_oursupplier .oursupplier_element .thuonghieu_box .thuong_item {
    padding-bottom: 50px;
  }

  .site37_html_col0_oursupplier .oursupplier_element .thuonghieu_box .thuong_item .img {
    width: 15%;
    height: 120px;
  }
}
@media screen and (max-width: 576px) {
  .site37_html_col0_oursupplier {
    padding: 15px;
  }

  .site37_html_col0_oursupplier .oursupplier_element {
    margin-top: 20px;
  }

  .site37_html_col0_oursupplier .oursupplier_element .map_box {
    padding: 0;
  }

  .site37_html_col0_oursupplier .oursupplier_element .thuonghieu_box {
    padding-top: 15px;
  }

  .site37_html_col0_oursupplier .oursupplier_element .thuonghieu_box p {
    padding: 0 10px;
    margin-bottom: 10px;
  }

  .site37_html_col0_oursupplier .oursupplier_element .thuonghieu_box .thuong_item .img {
    width: 24%;
    height: 80px;
  }

  .site37_html_col0_oursupplier .oursupplier_element .thuonghieu_box .thuong_item .div_btn_xemthem .btn_xemthem {
    margin-top: 15px;
  }
}